<header>
    <nav>
        <div>
            <label>Repostería</label>
        </div>
        <div>
            <label>Panadería</label>
        </div>
        <div>
            <label>Lacteos</label>
        </div>
        <div class="container-icon">
            <img src="assets/icons/cart.svg" class="icon" alt="">
            <div class="badge">
                2
            </div>
        </div>
        <button>
            <img src="assets/icons/menu.svg" class="icon" alt="">
        </button>
    </nav>
    <div class="container-title">
        <label>Panadería la tiendita</label>
    </div>
</header>