<header>
    <nav>
        <div class="menu-link">
            <span *ngFor="let m of menu" [routerLink]="m.router">{{m.name}}</span>
        </div>
        <div class="container-icon menu-link">
            <img src="assets/icons/cart.svg" class="icon" alt="">
            <div class="badge">
                2
            </div>
        </div>
        <button>
            <img src="assets/icons/menu.svg" class="icon" alt="">
        </button>
    </nav>
    <div class="container-title">
        <label>Panadería la tiendita</label>
    </div>
</header>