<div class="container">
    <div class="card publish-form">
        <div *ngIf="!load && data.image == ''" class="image" [ngStyle]="{ 'background-image': 'url(' +  noImage + ')' }" (click)="fileInput.click()"></div>
        <div *ngIf="load" class="image-load" [ngStyle]="{ 'background-image': 'url(' + loadImage + ')' }" (click)="fileInput.click()"></div>
        <div *ngIf="!load && data.image != ''" class="image" [ngStyle]="{ 'background-image': 'url(' + data.image + ')' }" (click)="fileInput.click()"></div>
        <input type="file" (change)="onSelectImage($event)" style="display: none"
          class="text-center center-block file-upload" #fileInput />
        <br>
        <div>
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="data.name">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Precio</mat-label>
                    <input matInput [(ngModel)]="data.price" type="number">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Cantidad</mat-label>
                    <input matInput [(ngModel)]="data.stock" type="number">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Categoría</mat-label>
                    <input matInput [(ngModel)]="data.category">
                </mat-form-field>
            </div>
            <button mat-raised-button class="btn-block btn-primary mt-1" (click)="saveProduct()" [disabled]="btnLoad">
                Publicar
                <img *ngIf="btnLoad" src="assets/icons/spinner.svg" style="width: 20px; height: 20px; margin-left: 10px;" alt="">
            </button>
        </div>
    </div>
</div>