<!-- <div class="card">
    <div class="title">
        <label>Categorías</label>
    </div>
    <div *ngFor="let i of [1,1,1,1,1]" class="category">
        <label>Pan</label>
        <label>7</label>
    </div>
</div> -->

<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Categorías
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>