.title {
    color: #2C3E50;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 10px;
}


.category {
    font-size: 1.3em;
    font-weight: 900;
    padding: 10px 5px;
    color: #BDC3C7;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #BDC3C7;
}