<!-- <div class="card">
    <div class="card-header" [ngStyle]="{'background-image': 'url('+ product.image + ')'}"></div>
    <div class="card-body">
        <label>{{product.name}}</label>
        <br>
        <label class="price">${{product.price}}</label>
    </div>
    <div class="card-footer">
        <div class="line"></div>
        <div class="container-footer">
            <label>Agregar al carro</label>
            <img src="assets/icons/cart_green.svg" alt="">
        </div>
    </div>
</div> -->

<mat-card class="example-card">
    <img class="header" mat-card-image [src]="product.image">
    <mat-card-content>
        <div class="name">
            <label for="">{{product.name}}</label>
        </div>
      <div class="price">
          <label for="">$ {{product.price}}</label>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="btn-footer" (click)="addCart()">
          Agregar a carro
        <img class="icon" src="assets/icons/cart_green.svg" alt="">
      </button>
    </mat-card-actions>
  </mat-card>