// .card {
//     padding: 0px !important;
// }

.header{
    height: 170px;
   
}

.card-body{
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #2C3E50;
    font-size: 1.5em;
    font-weight: bold;
}

.name{
    font-weight: bold;
    font-size: 1.5em;
}

label {
    color: #2C3E50;
    
}
.icon {
    width: 30px;
    height: 30px;
}

.price {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

.btn-footer{
    // font-size: 1.5em;
    // font-weight: bold;
    // padding: 0px 20px 20px 20px;
    color: #1ABC9C;
    width: 100%;
}

// .line {
//     border: 2px solid #1ABC9C;
// }

// .container-footer{
//     padding-top: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }



.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }